<h1>Questionnaire</h1>
{{#each questionnaire}}
    <div>
        {{@index}}: Name is {{this.name}}. Version is {{this.version}}
        <a href="/questionnaire/showContent?version={{this.version}}&name={{this.name}}" class="btn btn-default">See All Questions</a>
        <a href="/survey/create?version={{this.version}}&name={{this.name}}" class="btn btn-default">Mage New Survey</a>
    </div>
{{/each}}